@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Sacramento&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    transition: all linear 0.4s;
    list-style: none;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;   

}

:root {
    --brown-dark:#633300;
    --brown-medium:#8E5921;
    --brown-light:#b38048;
    --brown-light-fn:#ddaf75;

    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:0.3rem solid var(--brown-dark);
    --border-hover: 0.3rem dashed var(--brown-dark);

    
    --font-sac: 'Sacramento', cursive;
}
html {
    font-size:62.5%;    
    scroll-behavior:smooth;
    
}

/* -------start style header------- */

header {
    width:100%; 
  
}
.container {
    padding:15px 4%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 13%;
    background: #fff;
    position:fixed;
    top:0; left:0; right:0;
    z-index:1000;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}
.menuBx {
    display:none;
    cursor:pointer;
}
.menuBx i {
    color:var(--brown-dark);
    font-size:2.6rem;    
}
.menuBx i.fa-times {
    transform: rotate(180deg);
}

.navBar ul {
    display: flex;
    gap:1.2rem;
    align-items:center

}
.navBar a {
    color:var(--brown-dark);
    font-size:1.8rem;
    font-weight:600;
}
.navBar a:hover {
    color:var(--brown-light-fn);
}

.btn {
    padding:5px 20px;
    border:var(--border);
    border-radius:var(--border-radius);
    font-weight:700;
    font-size:2rem;
    color:var(--brown-dark)   
}
.btn:hover {
    border:var(--border-hover);
    border-radius:var(--border-radius-hover);
    color:var(--brown-light-fn);    
}

/* -------end style header------- */


/* -------start style section home------- */
section {
    width:100%;    
    padding:70px 13%;
}
.home {    
    background-image:url('../images/projeto-casamento.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:100vh;
    padding-top:12rem;
    

} 
.content {
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    justify-content: space-between;
    align-items:center;
    gap:6rem; 
     
    
}
.text-bx {    
    width:600px;
     
}
.text-bx h1 {
    font-size:5rem;
    color:var(--brown-dark)
}
.text-bx span {
    font-size:7.5rem;
    color:var(--brown-medium);
}
.box-btn  {
    width:200px;
    height:90px;
}
.box-btn .btn {
    width:100%;
    padding:10px 20px;
}
.text-bx h3 {
    font-size:2.6rem;
    font-weight:600;
    margin-bottom: 5.5rem;
    color:var(--brown-dark);
}
.img-bx { 
    width:450px;
    height:450px;    
    padding-top:8rem;    
    align-items: center;     
    
}
.img-bx img {
    height:350px;
    animation:float 4s linear infinite;
}
@keyframes float {
    0%, 100% {
        transform:translateY(0rem);
    }
    50% {
        transform:translateY(-7rem);
    }
}
.three-img {
    display: flex;
    width:465px;
    height:150px;
    position:absolute;
    bottom: 30px;
    left:380px;  
    
}
.three-img img {
    height:100%;
    height:100%;
    margin:10px;
    cursor: pointer;    
    border-bottom:3px solid var(--brown-dark);
}
.three-img img:hover {
    transform:translateY(-2rem);
}

/* -------end style section home------- */

/* -------start style ambiente-------  */
.ambientes {
    /* background-color: ; */
}
.content-ambi  {
    width:100%; 
    display:flex;
    justify-content: center;
    flex-direction: column;  
    text-align: center;    
}
.box-title {
    width:100%;
}
.box-title h2 {
    font-family: var(--font-sac);
    font-size:7rem;
    color:var(--brown-dark)
}
.box-title span {
    font-size:3rem;
    
}
.box-img {
    width:200px;
    height:120px;
}




.box-img img {
    width:100%;
    height:100%;
    border-radius:30px;
    
}
.box-img img:hover {
    transform: scale(1.4);
}
.box-all-cards {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, auto));
    gap:3rem;
    padding-top:60px
}
.unit-card {
    width:250px;
    height:auto;
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding:20px 20px 50px 20px;
    border-radius:20px;
    box-shadow: 4px 3px 6px 7px rgba(0,0,0,0.1);
    position: relative;
    cursor:pointer;
}
.unit-card:hover {
    /* transform: scale(1.1); */
    background:linear-gradient(to bottom, #FFC9C9, #6fb5ff); 
}
.box-text {
    padding-top:20px;
}
.box-text h3 {
    font-size:2rem;
    color:var(--brown-dark);    
}
.box-text h5 {
    font-size:1.6rem;
    font-weight:600;
    margin:7px 0;
}
.box-star {
    width:160px;
    height:auto;
}
.box-star i {
    font-size:1.2rem;
    color: #e9c704;
    padding-top:20px;
}
.trass {
    width:90px;
    height:30px;
    background-color: #834800;
    position: absolute;
    bottom:0;
    text-align: center;
    align-items: center; 
    display: flex;
    justify-content: center;
    color:#fff;
    font-size:1.5rem;
    font-weight: 700; 
    border-radius: 20px 20px 0 0;  
}

/* -------end style ambiente-------  */









/* Início responsividade */
@media(max-width:980px) {
    html {
        font-size: 45%;       
    }
    header {        
        padding:6px;       
    }
    nav .container {
        padding:10px;       
    }
    section {
        width:100%;    
        padding:50px 13%;
    }
    .home {    
        background-image:url('../images/projeto-casamento.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height:100vh;
        padding-top:16rem;
        
    
    } 
    .content {
        width:100vw;
        display: grid;
        grid-template-columns: repeat(400px, 1fr);    
        justify-content: center;
        align-items:center;   
        
    }
    .text-bx {    
        width:400px;         
    }
    .three-img {
        display: flex;
        width:100px;
        height:100px;
        position:absolute;
        bottom: 20px;
        left:280px;
        
    }

}

@media(max-width:840px) {
    .menuBx {
        display: initial;
    }    
    
    .navBar ul {
        display:block;
        position: absolute;
        left:0;
        top:99%;
        padding:50px 90px;
        background-color: var(--brown-medium);      
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
        
                               
    }
    .navBar ul.active {
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%); 
         
    }
    .navBar li {
        padding:10px 0;
    }

    .navBar a {
        font-size: 4rem;
        font-weight:500;     
        border:none;
        color:#ddaf75;
        padding:0;
                    
    }
    .navBar a:hover {       
        color:var(--brown-dark) ;                    
    } 
    .content {
        width:100vw;
        display: grid;
        grid-template-columns: repeat(350px, 1fr);    
        justify-content: center;
        align-items:center;        
    }   
    .text-bx {    
        width:320px;         
    }
    .img-bx img {
        height:280px;
        animation:float 4s linear infinite;
    }
    /*
    
    }*/

}
@media(max-width:740px) {
    .home {    
         width:100vw;
         min-height:100vh;
         padding-top:16rem;         
    }
    .three-img {
        display: flex;
        width:100px;
        height:100px;
        position:absolute;
        bottom: 20px;
        left:240px;
        
    }

}

@media(max-width:650px) {
    .content  {
        width:100vw;
        display: grid;
        grid-template-columns: 1fr ;
        justify-content:center;
        align-items:center;              
    } 
    .three-img {
        display: flex;
        flex-direction: column;
        width:90px;
        height:90px;
        position:absolute;
        bottom: 160px;
        left:380px;        
    }
    
    .text-bx {    
        width:500px;
        display: flex;
        justify-content: center;
        flex-direction: column; 
        text-align: center;        
    }
    .container a .btn{
        display: flex;
        width:200px;
    }
    
    .img-bx img {
        height:280px;
        animation:float 4s linear infinite;
    }

}

@media(max-width:585px) {
    .home { 
        background-position:right;              
       }  
    .text-bx {    
        width:400px;
        display: flex;
        justify-content: center;
        flex-direction: column; 
        text-align: center;        
    }
}

@media(max-width:450px) {
    .content  {
        width:100vw;
        display: grid;
        grid-template-columns: 1fr ;
        justify-content:center;
        align-items:center;
        text-align: center;              
    } 
    .three-img {
        display: flex;        
        width:80px;
        height:80px;
        position:absolute;
        bottom: 130px;
        left:300px;        
    }
    .text-bx h3 {
        
        font-size:2.1rem;
        font-weight:700;
        margin-bottom: 5.5rem;
        color:var(--brown-dark);
    }
    .img-bx img {
        position:absolute;
        left: 70px;
        height:230px;
        
    }
    
}

@media(max-width:300px) {
    .three-img {
        display: flex;
        flex-direction: row;       
        width:60px;
        height:60px;
        position:absolute;
        bottom: -110px;
        left:80px;        
    }
    .img-bx img {
        position:absolute;
        left: 110px;
        height:230px;
        
    }
    .logo {
        width:90px;
    }
    .logo img {
        width:100%;
    }
}

    



/* Final responsividade */