@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Sacramento&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    transition: all linear 0.4s;
    list-style: none;
    text-decoration:none;
    font-family: 'Poppins', sans-serif;

}

:root {
    --brown-dark:#633300;
    --brown-medium:#8E5921;
    --brown-light:#b38048;
    --brown-light-fn:#ddaf75;

    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:0.2rem solid var(--brown-dark);
    --border-hover: 0.2rem dashed var(--brown-dark);

    
    --font-sac: 'Sacramento', cursive;
}
html {
    font-size:62.5%;
    scroll-padding-top:7rem;
    scroll-behavior:smooth;
    scrollbar-color: var(--brown-dark);
}
header {
    width:100%;    
    box-shadow: 1px 2px 3px rgba(0,0,0, 0.2);    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 9%;
    background-color:#ffedd7
}
.menuBx {
    display:none;
}
.menuBx i {
    color:#fff;
    font-size:1.5rem;    
}
.navBar ul {
    display: flex;
    gap:1.2rem;
    align-items:center

}
.navBar a {
    color:var(--brown-dark);
    font-size:1.8rem;
    font-weight:600;
}
.navBar a:hover {
    color:var(--brown-light-fn)
}

.navBar .btn {
    padding:5px 20px;
    border:var(--border);
    border-radius:var(--border-radius);
    font-weight:700;
    
    
}
.navBar .btn:hover {
    border:var(--border-hover);
    border-radius:var(--border-radius-hover);    
}

    

